* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: #cd0808;
}


.navbar {

    background-color: #d5b40d;
    padding: 20px;
}

.navbar ul {

    list-style: none;
    display: flex;
    justify-content: center;

}

.navbar li {

    margin-top: 0;
    margin-right: 30px;

}

.navbar a {

    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

.navbar a:hover {

    color: #004af5;
}

.container {

    width: 80%;
    margin: auto;
    padding: 50px;
    text-align: center;

}

img {

    width: 1200px;
    margin-top: 20px;
    border-radius: 0px;

}

h1 {

    margin-top: 25px;
    margin-left: 0;

}

p {

    margin-top: 20px;
    line-height: 1.6;


}

#segundoTitulo {

    font-size: 36px;


}


#terceiroTitulo {

    font-size: 36px;

}



#quartoTitulo {

    font-size: 36px;

}